.new-heights-component{
    padding:40px 0;
    background-color: #f3f3f3;
    z-index:1000;
    flex-wrap: wrap;
    position: relative;
    min-height:fit-content;
    height:900px;
    .new-heights{
      
        display:flex;
        height:100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media only screen and (max-width: 1240px) {
            margin-top:40px;
         
        }
       
        
    }
    &:hover{
        img{
          margin:-40px 0!important;
        }
    }
    .heights-images-container{
        display: flex;
        justify-content: center;
        width: fit-content;
        align-items: center;
        flex-direction: column; 
        max-width:50%;
        margin-right:50px; 
        @media only screen and (max-width: 1240px) {
            margin:0;
            max-width:100%;
            margin-top:50px;
         
        }
        
        img{
            max-width: 100%;
            margin: -50px 0;
            transition: all 1s ease-out;
            @media only screen and (max-width: 1240px) {
                width: 80%;
                margin:-40px;
            }
            @media only screen and (max-width: 550px) {
                margin:-15px;
                width:100%;
            }
           
            &:first-of-type{
                z-index:100;
            }
            &:nth-child(2){
                z-index:50;
            }
        } 
    }
    i{
        font-size: 55px;
        color: #FDC101;
    }
    h2{
        font-size: 45px;
        font-weight: 600;
        text-align: left;
        line-height: 1.6em;
        @media only screen and (max-width: 768px) {
           font-size: 30px;
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        width:40%;
        min-width:300px;
        @media only screen and (max-width: 1240px) {
            margin:0;
            width:100%;
            margin-top:40px;
        }
    }
    .subtext{
        margin-bottom:30px;
        font-size:18px;
    }
}