.mobile-features-component{
    position: relative;
    min-height:70vh;
    background-color: white;
    margin-top:-20px !important;
    z-index:10000;
    padding:60px 0;


    .divider{
        margin-bottom:30px;
    }
    .all-features{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        
        .feature-container{

            padding:20px 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            min-height:310px;
            width:30%;
            transform: none;
            transition: all 300ms ease-out !important;
            border: none !important;
            box-shadow: 0 3px 45px 0 rgba(0,0,0,0.16);
            margin:20px 15px;
            transition: all 0.5s ease-in-out;
            border-radius: 10px;
            @media only screen and (max-width: 990px) {
                min-height:300px;
                width:calc(100% - 60px);
            }
            &:hover{
                transition: all 0.5s ease-in-out;
                margin-top:-10px;
                margin-bottom:40px;
                
            }
          
            img{
                margin-bottom:20px;
                height:60px;
            }
           
        }
       
    }
  
}

h2{
    text-align: center;
    font-size: calc(18px + 1.5vw);
    font-weight: 600;
    line-height: 1.2em;
    margin: 10px 0px 23px 0px;
    font-family: 'Titillium Web';
}
.divider{
    height: 4px;
    width: 70px;
    text-align: center;
    margin:0 auto;
    background: #fec002;
    margin-bottom:15px;
}

.subtext{
    color: #727272 !important;
    font-size: 14px;
    font-weight: 300;
    font-family: "Poppins", Sans-serif;
    line-height: 1.5em;
}