.App {
  scroll-behavior: smooth;
  /* font-family: "Jost", sans-serif; */
}

button {
  border: 0 !important;
}

.App-link {
  color: #61dafb;
}
.row {
  margin: 0;
}

.yellow {
  color: #fdc401;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
