
.socials{
  margin-top:5px;
  display: flex;
  justify-content: center;
  div{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin:5px;
    background:#F0B601;
    border-radius:2px;
  }
}
.message{
  z-index:10;
  margin-top:3em;
  .message-header{
    margin-bottom:10px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
   

    &::after, &::before{    
      content: '';
      display: inline-block;
      width: 34px;
      margin: 3px 14px 3px 12px;
      border-bottom: 2px solid #555;
      
    }
    @media only screen and (max-width: 768px) {
      font-size: 20px;
      &::after, &::before{    
       
        width: 20px;
        margin: 3px 14px 3px 12px;
        border-bottom: 2px solid #555;
        
      }
    }
  }
  .message-body{

    background-color: #F7F2ED;
    padding:calc(2vw + 20px) calc(24vw);
    text-align: center;
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5em;
    width:100%;
    .ceo{
      color: #000000;
      font-size: 15px;
      margin-top:20px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 1.1em;
    }
    @media only screen and (max-width: 1000px) {
      padding:calc(2vw + 20px) calc(10vw);
      font-size: 16px;
    }
    
  }

}

.yellow {
  color: #fdc401;
}


